body {
    font-family: "Palatino Linotype", serif;
    font-size: 1.2em;
}

main {
    position: relative;
    margin: auto auto;
    max-width: 800px;
    padding: 20px;
    background-color: rgb(200, 200, 200);
    border: 5px outset rgb(150, 0, 0);
    border-bottom-width: 20px;
    border-left-width: 20px;
    box-shadow: 5px 5px 8px 5px rgb(0, 0, 0);
}

#title {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
    background-image: radial-gradient(circle ,rgba(255, 0, 0, 80%), rgba(0, 0, 0, 80%));
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-header {
    text-decoration: underline;
    text-align: center;
}

.profile {
    position: relative;
    top: -20px;
    right: -100px;
    float: right;
    background-color: rgb(80, 80, 80);
    border: 5px ridge rgb(150, 0, 0);
    border-radius: 3px;
    box-shadow: 2px 2px 8px 3px rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0;
}

.author {
    color: rgba(0, 0, 0);
    text-decoration: none;
}

.paragraph {
    text-indent: 20px;
}

.table {
    margin: auto auto;
    /*border-collapse: collapse;*/
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 100%;
    background-color: rgb(150, 0, 0);
 }
.table th, .table td {
    border: 1px solid rgb(0, 0, 0);
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(200, 200, 200);
}
#DAGV301R{
    background-color: rgb(255, 0, 0);
}
#DAGV345L {
    background-color: rgb(0, 255, 0);
}
#DAGV3450 {
    background-color: rgb(0, 0, 255);
}
#DAGV3460 {
    background-color: rgb(0, 255, 255);
}
#DAGV3470 {
    background-color: rgb(255, 0, 255);
}
#homework {
    background-color: rgb(255, 255, 0);
}
.commute {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0) !important;
}

#haiku {
    text-align: center;
}

#haiku-inspiration {
    position: relative;
    top: -10px;
    right: -10px;
    font-weight: lighter;
    font-size: small;
    color: rgb(50, 50, 50);
}

#haiku-title {
    text-decoration: underline;
    color: rgb(60, 60, 60);
    position: relative;
}

#haiku-body {
    color: rgb(75, 75, 75);
    position: relative;
    top: -15px;
}

#smItalOpaque {
    font-size: small;
    font-style: italic;
    color: rgb(50, 50, 50);
}

a:hover {
    text-decoration: underline;
}

strong {
    font-size: 110%;
}

li {
    font-size: 90%;
}