.profile-block {
    position: relative;
    float: right;
    background-color: rgb(45, 30, 30);
    border: 5px ridge rgb(150, 0, 0);
    border-radius: 3px;
    box-shadow: 2px 2px 8px 3px rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0;
    z-index: 9;
}
.profile-block img {
    border: 3px inset rgb(150, 0, 0);
    border-radius: 15px;
}

.personal-block {
    margin: auto auto;
    position: relative;
    z-index: 8;
}

.books-block {
    margin: auto auto;
    position: relative;
    z-index: 7;
}
.books-block a {
    color: rgba(0, 0, 0);
    text-decoration: none;
}
.books-block a:hover {
    text-decoration: underline;
}

.interests-block {
    position: relative;
    z-index: 6;
}
.interests-block p {
    text-indent: 20px;
}

.haiku-block {
    position: relative;
    z-index: 5;
}
.haiku-block div {
    text-align: center;
}
#haiku-section {
    text-align: center;
}
.haiku-block span {
    font-size: small;
    font-style: italic;
    color: rgb(50, 50, 50);
}
.haiku-block h3 {
    text-decoration: underline;
    color: rgb(60, 60, 60);
}

.schedule-block {
    position: relative;
    z-index: 4;
}
.schedule-block table {
    margin: auto auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 100%;
    background-color: rgb(150, 0, 0);
 }
.schedule-block th, .schedule-block td {
    border: 1px solid rgb(0, 0, 0);
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(200, 200, 200);
}
.DAGV301R{
    background-color: rgb(255, 0, 0) !important;
}
.DAGV345L {
    background-color: rgb(0, 255, 0) !important;
}
.DAGV3450 {
    background-color: rgb(0, 0, 255) !important;
}
.DAGV3460 {
    background-color: rgb(0, 255, 255) !important;
}
.DAGV3470 {
    background-color: rgb(255, 0, 255) !important;
}
.homework {
    background-color: rgb(255, 255, 0) !important;
}
.commute {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0) !important;
}