body {
    display: grid;
    grid-template-areas:
        'header nav nav'
        'main main main'
        'footer footer footer';
    grid-template-columns: auto 3fr auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 20px;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav a {
    padding: 10px;
    color: black;
}

nav a:hover {
    background-color: #333;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

footer {
    grid-area: footer;
}

.content-section {
    display: none; /* Hide all sections by default */
}

.branding h1 {
    margin: 0;
}

.descriptor {
    font-size: smaller;
}

.social-links {
}

#home {
    display: block;/* Show the home section by default */
}

@media only screen and (max-width: 768px) {
    body {
        grid-template-areas:
            'header'
            'nav'
            'main'
            'footer';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
    }

    nav {
        flex-direction: column;
    }
}