/* --------------------|  VARIABLES  |-------------------- */
:root {
    --resizeStep: 2px;

    --primaryCoreFont: "Aldrich", serif;
    --fallbackFont: "Arial", sans-serif;
    --primaryHeaderFont: "Aldrich", serif;
    --secondaryHeaderFont: "Papyrus", fantasy;
    --fallbackHeaderFont: "Arial", sans-serif;

    --fontSizeTitle: 50px;
    --fontSizeH1: 40px;
    --fontSizeH2: 36px;
    --fontSizeH3: 32px;
    --fontSizeH4: 24px;
    --fontSizeH5: 20px;
    --fontSizeH6: 16px;
    --fontSizeMain: 14px;
    --fontSizeSmall: 12px;
    --fontSizeSmaller: 10px;
    --fontSizeSmallest: 8px;

    --titleWeight: 800;
    --headerWeight: 600;
    --coreWeight: 400;

    --textPrimaryColor: rgba(0, 0, 0, 1);
    --textSecondaryColor: rgba(59, 96, 67, 1);
    --textImportantColor: rgba(92, 62, 138, 1);
    --textUnimportantColor: rgba(70, 70, 70, 1);
    --textPreHoverColor: rgba(128, 128, 128, 1);
    --textHoverColor: rgba(152, 253, 253, 1);

    --bgcBrightAccentPrimary: rgb(104, 25, 222);
    --bgcSecondary: rgb(10, 202, 205);
    --bgcTertiary: rgb(222, 134, 25);
    --bgcTertiaryTransparent: rgb(222, 134, 25, 0);
    --bgcQuaternary: rgb(157, 157, 157);
    --bgcPrimary: rgb(107, 67, 132);
    --bgcDarkAccentPrimary: rgb(45, 25, 58);
    --bgcAccentSecondary: rgb(6, 150, 152, 1);
    --bgcAccentSecondaryTransparent: rgb(6, 150, 152, 0);
    --bgcAccentTertiary: rgb(162, 101, 22, 1);
    --bgcAccentTertiaryTransparent: rgb(162, 101, 22, 0);


    --borderSpacer: 3px solid var(--bgcTertiary);
    --horizontalPadding: 20px;
}
/* -------------------------------------------------- */

/* --------------------|  GLOBAL SETTINGS  |-------------------- */
* {
    white-space: nowrap;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}
/* -------------------------------------------------- */

/* --------------------|  Layout  |-------------------- */
/* --------------------|  BODY  |-------------------- */
body {
    display: grid;
    grid-template-areas:
        'header aside'
        'main main'
        'footer footer';
    grid-template-columns: 2fr 3fr;
    grid-template-rows: min-content 1fr auto;
    height: calc(100vh - 100px);

    margin: 3% 5% 0 5%;
    background: var(--bgcQuaternary);
    border-style: ridge;
    border-color: rgba(0, 0, 0, 1);
    box-shadow: 3px 0 10px 5px rgba(0, 0, 0, 1);

    font-family: var(--primaryCoreFont), serif;
    font-size: clamp(var(--fontSizeMain) / 4, 2vw + (var(--fontSizeMain) / 2), var(--fontSizeMain));
    font-weight: var(--coreWeight);

    overflow: hidden;
}
/* -------------------------------------------------- */

/* --------------------|  HEADER  |-------------------- */
header {
    grid-area: header;
    display: grid;
    grid-template-areas:
            'branding branding'
            'descriptor descriptor'
            'social-links theme-button';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    background: var(--bgcPrimary);
    position: relative;
    border-bottom: var(--borderSpacer);
}
header::after {
    content: '';
    position: absolute;
    right: 0;
    top: 1%;
    bottom: 1%;
    width: 3px;
    background-image: linear-gradient(to bottom, var(--bgcTertiaryTransparent), var(--bgcTertiary), var(--bgcTertiaryTransparent));
}
.branding {
    grid-area: branding;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-block: 5px;
}
.branding h1 {
    margin: 0;
    font-size: clamp(var(--fontSizeTitle) / 4, 2vw + (var(--fontSizeTitle) / 2), var(--fontSizeTitle));
    padding-left: 3px;
}
.descriptor {
    grid-area: descriptor;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin: 0;
    padding-bottom: 3px;
    padding-left: 5px;
}
.descriptor::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, var(--bgcTertiaryTransparent), var(--bgcTertiary), var(--bgcTertiaryTransparent));
}
.social-links {
    grid-area: social-links;
    display: flex;
    justify-content: left;
    align-items: center;
}
.social-links a {
    display: flex;
    transition: 0.6s ease;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.social-links a:hover {
    background: var(--bgcTertiary);
}
.social-links-logo {
    width: 20px;
    height: auto;
    text-decoration: none;
    padding: 0 5px;
}
.theme-button {
    grid-area: theme-button;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}
#theme-toggle{
    background: var(--bgcAccentSecondary);
}
#theme-toggle:hover {
    transition: 0.6s ease;
    background: var(--bgcAccentTertiary);
}
/* -------------------------------------------------- */

/* --------------------|  ASIDE  |-------------------- */
nav {
    grid-area: aside;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background: var(--bgcPrimary);
    border-bottom: var(--borderSpacer);
    position: relative;
}
nav a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding-right: var(--horizontalPadding);
    padding-left: var(--horizontalPadding);
    transition: 0.6s ease;
    position: relative;

    font-size: clamp(var(--fontSizeSmall), 1vw + (var(--fontSizeH2) /7.5), var(--fontSizeH2));
}
nav a::after {
    content: '';
    position: absolute;
    right: calc(var(--horizontalPadding) / -2);
    top: 1%;
    bottom: 1%;
    width: 3px;
    background-image: linear-gradient(to bottom, var(--bgcTertiaryTransparent), var(--bgcTertiary), var(--bgcTertiaryTransparent));
}
nav a:last-child::after {
    display: none;
}
nav a:hover{
    color: var(--textHoverColor);
    background: linear-gradient(var(--bgcAccentTertiaryTransparent), var(--bgcAccentTertiary), var(--bgcTertiary), var(--bgcAccentSecondary), var(--bgcAccentSecondaryTransparent)) no-repeat center/80% 50%;
}
#small-screen-menu {
    display: none;
}
.dropdown-nav {
    display: none;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    background: var(--bgcPrimary);
    border: var(--borderSpacer);
}
/* -------------------------------------------------- */

/* --------------------|  MAIN  |-------------------- */
main {
    grid-area: main;
    display: flex;
    flex-direction: column;

    background: var(--bgcDarkAccentPrimary);
    border: 10px inset var(--bgcAccentSecondary);
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.5);
}
section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: var(--bgcDarkAccentPrimary);
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.5);
}

/* -------------------------------------------------- */

/* --------------------|  FOOTER  |-------------------- */
footer {
    grid-area: footer;
    display: flex;
    justify-content: left;
    padding: 5px;
    background: var(--bgcPrimary);

    border-top: var(--borderSpacer);

    font-size: clamp(var(--fontSizeSmall) / 4, 2vw + (var(--fontSizeSmall) / 2), var(--fontSizeSmall));

}
footer p {
    padding: 0 5px;
}
/* -------------------------------------------------- */

/* --------------------|  SECTIONS  |-------------------- */
.content-section {
    display: none;
}
#home {
    display: block;
}

#about {
    /*display: block;*/
    color: var(--textSecondaryColor);
}

#about h1,h2,h3,h4,h5,h6 {
    color: var(--textImportantColor);
}

.slideshow-container {
    position: relative;
    margin: auto;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.slide {
    display: none;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--bgcAccentSecondary);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: 5px outset var(--bgcAccentSecondary);
    background: var(--bgcBrightAccentPrimary);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    color: white;
    background-color: rgba(0,0,0,1);
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.image-container img {
    border: 10px outset var(--bgcAccentTertiary);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    max-height: 500px;
    max-width: 500px;
    width: auto;
    height: auto;
}

.modal {
    display: none;
    grid-template-areas:
        'image close';
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal:hover {
    background-color: rgba(0,0,0,0.9);
}

.enlarge-img {
    grid-area: image;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgcPrimary);
    padding: 10px;
    margin: auto;
    border: 1px solid rgb(255,255,255);
    width: 80%;
    max-width: 450px;
}

#modalImage {
    width: 100%;
    height: auto;
    border: 10px outset var(--bgcAccentSecondary);
}

.close {
    grid-area: close;
    align-self: flex-start;
    margin-top: -10px;
    margin-right: -10px;
    color: var(--bgcTertiary);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: var(--bgcAccentSecondary);
    text-decoration: none;
    cursor: pointer;
}

.about-list a {
    color: var(--textPreHoverColor);
    text-decoration: none;
}

.about-list a:hover{
    color: var(--textHoverColor);
    text-decoration: underline;
}

.date-range {
    color: var(--textUnimportantColor);
    font-size: smaller;
}

.list-item-book {
    color: var(--textPreHoverColor);
    text-decoration: none;
}
.list-item-book:hover {
    text-decoration: underline;
    color: var(--textHoverColor);
}
/* -------------------------------------------------- */

/* ----------|  ADJUSTMENTS FOR SCREEN SIZE  |---------- */
@media (min-width: 950px) {
    nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
    nav a {
        display: flex;
        align-items: center;
    }
    .primary-nav {
        display: flex;
    }
}
@media only screen and (max-width: 950px) {
    :root {
    --fontSizeTitle: 80px;
    --fontSizeH1: 65px;
    --fontSizeH2: 55px;
    --fontSizeH3: 45px;
    --fontSizeH4: 40px;
    --fontSizeH5: 35px;
    --fontSizeH6: 30px;
    --fontSizeMain: 24px;
    --fontSizeSmall: 20px;
    --fontSizeSmaller: 18px;
    --fontSizeSmallest: 16px;
    }
    * {
        white-space: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    body {
        grid-template-areas:
            'header'
            'aside'
            'main'
            'footer';
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content 1fr auto;
        margin: 0;
    }
    header {
        grid-template-areas:
            'branding social-links'
            'descriptor theme-button';
        grid-template-columns: 2fr 1fr;
        grid-template-rows: min-content min-content;
    }
    header::after, nav a::after{
        content: '';
        background-image: none;
    }
    .branding, .descriptor {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .social-links, .theme-button {
        justify-content: center;
        border-top: none;
        border-left: var(--borderSpacer);
        margin-left: 0;
        padding-left: 0;
    }
    .social-links {
         position: relative;
         display: flex;
         padding-bottom: 3px;
     }
    .social-links:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 30%;
        width: 100%;
        height: 3px;
        background-image: linear-gradient(to right, var(--bgcTertiaryTransparent), var(--bgcTertiary), var(--bgcTertiaryTransparent));
    }
    nav {
        grid-area: aside;
        flex-direction: column;
    }
    nav a {
        justify-content: left;
        border-bottom: var(--borderSpacer);
        font-size: var(--fontSizeH5);
    }
    nav a:hover {
        background: var(--bgcSecondary);
    }
    #small-screen-menu {
        display: flex;
    }
    .primary-nav {
        display: none;
    }
    .dropdown-nav {
        background: blue;
        padding-left: 200%;
    }
    section {
        margin: 0;
    }
    main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}
/* -------------------------------------------------- */